<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <script defer src="../../../socket.io/socket.io.js"></script>
    <script defer type="module" src="../../scripts/main-client-script.js"></script>
    <title>Remote Playground</title>
</head>

<body>

        <header id="header">
            <%- include('../partials/header') %>
        </header>
    <div class="big-container">

    <div class="queue-container">
        <div class="queue-box bgGreen"><p id="box1"></p></div>
        <div class="queue-box bgOrange "><p id="box2"></p></div>
        <div class="queue-box bgOrange"><p id="box3"></p></div>
        <div class="queue-box bgOrange"><p id="box4"></p></div>
        <div class="queue-box bgOrange"><p id="box5"></p></div>
        <div class="queue-info">
            <p id="queuetext" class="leader-text" style="text-decoration: none; font-size: 18px;"><b>Queue Number: Not in Queue</b></p>
            <input id="queuebutton" type="button" class="button red textshdw" value="QUEUE UP"> 
            <input id="exitbutton" type="button" class="button grey textshdw" style="border-radius: 50%; padding: 15px 15px" value="X">
        </div>
        
    </div>

    <div class="statuses-container">
        <!-- <div id="leader-box"> 
            <p class="leader-text"><b>LEADERBOARDS</b></p>    
            <p class="leader-text" style="text-decoration: none;">1.<%= entries[0].name %> - <%=  entries[0].score %></p>        
            <p class="leader-text" style="text-decoration: none;">2.<%= entries[1].name %> - <%=  entries[1].score %></p>  
            <p class="leader-text" style="text-decoration: none;">3.<%= entries[2].name %> - <%=  entries[2].score %></p>  
        </div> -->
        <div id="idle-box">
            <input id="idlebutton" type="button" class="btn-3d purple">
        </div>
    </div>        

    <div class="playground-container">
        <!-- <div class="play-box"><img id="videoStream" src="../../images/maintenance_notxt.png" height=400px width=400px></div> -->
        <!-- Comment if no RPI -->
        <div id="play-box"><img id="videoStream" src="/stream.mjpg"></div> 
    </div>
    

    <div class="play-buttons">                  
        <!-- <input id="simon-startquit" type="button" class="button red leds" value="Start"> -->
        <input id="gpio0" type="button" class="btn-3d red leds"> 
        <input id="gpio1" type="button" class="btn-3d green leds">
        <input id="gpio2" type="button" class="btn-3d blue leds">
        <input id="gpio3" type="button" class="btn-3d yellow leds">               

        <p id="curr_score"><b>Score: 0 </b></p>
    </div>        


    <div class="chat-container">
         <div id="chat-text-box">
            <div id="text-box">
                <ul>
                </ul>
            </div>
            <div id="chat-input-con">
            <input id="chat-input" type="text" placeholder="Type to Chat">
            <input id="chatbutton" type="button" class="button red" value="SEND">
            </div>
        </div>
    </div>

    </div>
</body>
</html>

