<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script defer src="../../../socket.io/socket.io.js"></script>
    <script defer type="module" src="../../scripts/main-client-script.js"></script>
    <title>Remote Playground</title>
</head>

<body>
    <audio id="btnsound">
        <source src="../../images/rollover1.ogg" type="audio/ogg">
    </audio>

    <audio loop id="bgmusic">
        <source src="../../images/elevatormusic.mp3" type="audio/mp3">
    </audio>

        <header id="header">
            <%- include('../partials/header') %>
        </header>
    <div id="big-container" class="big-container1">

    <div class="queue-container">
        <div class="queue-box bgGreen"><p class="textshdw white" style="font-size: 22px;" id="box1"></p></div>
        <div class="queue-box bgOrange "><p class="textshdw white" style="font-size: 22px;" id="box2"></p></div>
        <div class="queue-box bgOrange"><p class="textshdw white" style="font-size: 22px;" id="box3"></p></div>
        <div class="queue-box bgOrange"><p class="textshdw white" style="font-size: 22px;"id="box4"></p></div>
        <div class="queue-box bgOrange"><p class="textshdw white" style="font-size: 22px;" id="box5"></p></div>
        <div class="queue-info">
            <p id="queuetext" class="leader-text textshdw white" style="font-size: 18px;"><b>Queue Number: Not in Queue</b></p>
            <input id="queuebutton" type="button" class="button red textshdw" value="QUEUE UP"> 
            <input id="exitbutton" type="button" class="button grey textshdw" style="border-radius: 50%; padding: 15px 15px" value="X">
        </div>
        
    </div>

    <div id="stat" class="statuses-container">
        <div id="leader-box"> 
            <p class="leader-text textshdw white" style="text-decoration: underline;"><b>LEADERBOARDS</b></p>    
            <p class="leader-text textshdw white">1.<%= entries[0].name %> - <%=  entries[0].score %></p>        
            <p class="leader-text textshdw white">2.<%= entries[1].name %> - <%=  entries[1].score %></p>  
            <p class="leader-text textshdw white">3.<%= entries[2].name %> - <%=  entries[2].score %></p>  
        </div>        
    </div>        

    <div class="playground-container">
        <!-- <div class="play-box"><img id="videoStream" src="../../images/maintenance_notxt.png" height=400px width=400px></div> -->
        <!-- Temporary 1280x720 pic of the leds. CSS crops it --> 
        <div class="play-box"><img id="videoStream" src="../../images/leds.jpg" ></div>

        <!-- Comment if no RPI -->
        <!-- <div id="play-box"><img id="videoStream" src="/stream.mjpg" ></div> -->

        <div class="idle-box">
            <input id="cashout" type="button" value="CASH OUT" class="button gold textshdw">
            <h1 id="ticket-count" class="textshdw white">Tickets: 0</h1>
            <div class="idlebtn-container">
            <div class="hopscotch resource">
                <input id="idlebutton1" type="button" value="hopscotch" class="button purple textshdw">
                <img id="hopscotch" src="../../images/hopscotch.png" height=150px width=150px>
                <div class="progbar-container">
                    <div id="bar1" class="bar"></div>
                </div>
            </div>

            <div class="swing resource">
                <input id="idlebutton2" type="button" value="swing" class="button purple textshdw">
                <img id="swing" src="../../images/swing.png" height=150px width=150px>
                <div class="progbar-container">
                    <div id="bar2" class="bar"></div>
                </div>
            </div>

            <div class="slide resource">
                <input id="idlebutton3" type="button" value="tunnel-slide" class="button purple textshdw">
                <img id="slide" src="../../images/slide.png" height=150px width=150px>
                <div class="progbar-container">
                    <div id="bar3" class="bar"></div>
                </div>
            </div>
            </div>

        </div>
        <input id="collapsecol" type="button" class="button grey" value=">" style="align-self: center;">
    </div>

    
        
    
    

    <div class="play-buttons">                  
        <!-- <input id="simon-startquit" type="button" class="button red leds" value="Start"> -->
        <input id="gpio0" type="button" class="btn-3d red leds"> 
        <input id="gpio1" type="button" class="btn-3d green leds">
        <input id="gpio2" type="button" class="btn-3d blue leds">
        <input id="gpio3" type="button" class="btn-3d yellow leds">               

        <p id="curr_score"><b>Score: 0 </b></p>
    </div>        


    <div id="cht" class="chat-container">
         <div id="chat-text-box">
            <div id="text-box">
                <ul>
                </ul>
            </div>
            <div id="chat-input-con">
            <input id="chat-input" class="inputs" type="text" placeholder="Type to Chat">
            <input id="chatbutton" type="button" class="button red" value="Send">
            </div>
        </div>
    </div>

    </div>
</body>
</html>

