<!DOCTYPE html>
<html lang="en">
<id>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script defer type="module" src="../../scripts/profile-client-script.js"></script>


  <title><%= userid %>'s Profile</title>
</head>

<body class="bgBrown">
    <div class="bigcontainer">
        
        <header id="header">
            <%- include('../partials/header') %>
        </header>

        <div class="notasbigcontainer bgWhite smallifycont">

        <section id="profile" class="pad5percent">
            <div id="profilecontainer1">
                
                <div id="profilemodal" class="modal">
                    <div class="modal-content smallifycont2">
                        <span class="closeprofile">&times;</span>
                        <br>
                            <div class="dp-container">
                                
                                <form action="/profile" method="post">
                                    
                                    <label for="pic0"> 
                                        <input type="radio" id="pic0" name="profileimg" value="0"> 
                                        <img class="profileimg" src="../../images/avatar0.PNG" height=100px width=100px style="border-radius: 50%;"> 
                                    </label>
                                   
                                    <label for="pic1"> 
                                        <input type="radio" id="pic1" name="profileimg" value="1">
                                        <img class="profileimg" src="../../images/avatar1.PNG" height=100px width=100px style="border-radius: 50%;"> 
                                    </label>
                                    
                                    <label for="pic2"> 
                                        <input type="radio" id="pic2" name="profileimg" value="2">
                                        <img class="profileimg" src="../../images/avatar2.PNG" height=100px width=100px style="border-radius: 50%;"> 
                                    </label>
                                    
                                    <label for="pic3"> 
                                        <input type="radio" id="pic3" name="profileimg" value="3">
                                        <img class="profileimg" src="../../images/avatar3.PNG" height=100px width=100px style="border-radius: 50%;"> 
                                    </label>
                                    
                                    <label for="pic4"> 
                                        <input type="radio" id="pic4" name="profileimg" value="4">
                                        <img class="profileimg" src="../../images/avatar4.PNG" height=100px width=100px style="border-radius: 50%;"> 
                                    </label>
                                    
                                    <label for="pic5">
                                        <input type="radio" id="pic5" name="profileimg" value="5">
                                        <img class="profileimg" src="../../images/avatar5.PNG" height=100px width=100px style="border-radius: 50%;"> 
                                    </label>
                                    
                                    <label for="pic6"> 
                                        <input type="radio" id="pic6" name="profileimg" value="6">
                                        <img class="profileimg" src="../../images/avatar6.PNG" height=100px width=100px style="border-radius: 50%;"> 
                                    </label>

                                    <input type="submit" class="bgRed" value="Save">
                                                                   
                                </form>
                            </div>  
                    </div>
                </div>

                <div class="profile-pic-main" style="padding-top: 10px;">     
                    <img id="profile-pic" src="../../images/avatar<%= dpindex %>.PNG" height=100px width=100px style="border-radius: 50%;">    
                    <input id="changedp" type="button" value="change" class="bgRed">
                </div>
                <div id="username">
                    <h1 class="headings"><%= userid %></h1>
                </div>
                <p>Email: <u><%= usermail %></u></p>
                <p>PlayScore: <u><%= userscore %></u></p>
                <p>Achievements:</p>
                <div class="achievement-container">
                    <div class="row">
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="Get Hoppin' (Unlock Hopschotch)"><img id="ach1" class="recenter1" src = "../../images/hopscotch.png" height=90px width=90px></div>
                        <div class="achievement-border bgBlue achievement-tooltip" data-text="Hop 50 (Hop 50 Times)"><img id="ach2" class="recenter1" src = "../../images/hopscotch.png" height=90px width=90px></div>
                        <div class="achievement-border bgRed achievement-tooltip" data-text="Thunder Calf (Hop 500 Times)"><img id="ach3" class="recenter1" src = "../../images/hopscotch.png" height=90px width=90px></div>
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="Swing and a Hit (Unlock Swing)"><img id="ach4" class="recenter1" src = "../../images/swing.png" height=90px width=90px></div>
                        <div class="achievement-border bgBlue achievement-tooltip" data-text="Swing 50 (Swing 50 Times)"><img id="ach5" class="recenter1" src = "../../images/swing.png" height=90px width=90px></div>
                    </div>
                    <div class="row">
                        <div class="achievement-border bgRed achievement-tooltip" data-text="The Pendulum (Swing 500 Times)"><img id="ach6" class="recenter1" src = "../../images/swing.png" height=90px width=90px></div>
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="Slip n Slide (Unlock Slide)"><img id="ach7" class="recenter2" src = "../../images/slide.png" height=70px width=70px></div>
                        <div class="achievement-border bgBlue achievement-tooltip" data-text="Slide 50 (Slide 50 Times)"><img id="ach8" class="recenter2" src = "../../images/slide.png" height=70px width=70px></div>
                        <div class="achievement-border bgRed achievement-tooltip" data-text="Mr Smooth Cheeks (Slide 500 Times)"><img id="ach9" class="recenter2" src = "../../images/slide.png" height=70px width=70px></div>
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="Playground Connoisseur (Unlock Hopscotch, Swing and Slide)"><img id="ach10" class="recenter1" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                    </div>
                    <div class="row">
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="Who's Simon? (Play Simon Says for the first time)"><img id="ach11" class="recenter1" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="Simon's BFF (Play Simon Says 10 times)"><img id="ach12" class="recenter1" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="No Simon, I Say (Achieve a score of 20 in Simon Says)"><img id="ach13" class="recenter1" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="Hey Guys (Send first message in Live Chat)"><img id="ach14" class="recenter1" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                        <div class="achievement-border bgWhite achievement-tooltip" data-text="Get a life, please (Send 100 messages in Live Chat)"><img id="ach15" class="recenter1" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                    </div>
                    <div class="row">
                        <div class="achievement-border bgWhite greyout achievement-tooltip"><img id="ach16" class="recenter1 greyscale" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                        <div class="achievement-border bgWhite greyout achievement-tooltip"><img id="ach17" class="recenter1 greyscale" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                        <div class="achievement-border bgWhite greyout achievement-tooltip"><img id="ach18" class="recenter1 greyscale" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                        <div class="achievement-border bgWhite greyout achievement-tooltip"><img id="ach19" class="recenter1 greyscale" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                        <div class="achievement-border bgWhite greyout achievement-tooltip"><img id="ach20" class="recenter1 greyscale" src = "../../images/rmt_plygrd_logo_no_txt.png" height=85px width=85px></div>
                    </div>
                </div>
            </div>
        </section>
        
        </div>



</body>
</html>
