<!DOCTYPE html>
<html lang="en">
<id>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script defer type="module" src="../../scripts/main-client-script.js"></script>


  <title><%= userid %>'s Profile</title>
</head>

<body class="bgBlue">
    <div class="bigcontainer">
        
        <header id="header">
            <%- include('../partials/header') %>
        </header>

        <div class="notasbigcontainer bgOrange smallifycont">

        <section id="profile" class="pad5percent">
            <div id="profilecontainer1">

                <div id="profile-pic-main" style="padding-top: 10px;">
                    <img id="header-img" src="../../images/default_avatar.png" height=100px width=100px style="border-radius: 50%;">
                </div>
                <div id="username">
                    <h1><%= userid %></h1>
                </div>
                <p>Email: <u><%= usermail %></u></p>
                <p>PlayScore: <u><%= userscore %></u></p>
                
            </div>
        </section>
        <table>
            <tr>
                <th>No.</th>
                <th>Start</th>
                <th>End</th>
                <th>Score</th>
            </tr>
            <% for (const r of game_history.iterate()) { %>
            <TR>
                <TD><%= r.Id %></TD>
                <TD><%= r.Start %></TD>
                <TD><%= r.End %></TD>
                <TD><%= r.Score %></TD>
            </TR>
            <% } %>
        </table>

        
        </div>



</body>
</html>
